.btn--ok,
.btn--exit {
  width: 3rem;
  border: none;
  background-color: #fff;
}
.ok,
.exit {
  margin: 0;
  transition: 0.2s ease-in;
}
.btn--exit {
  position: absolute;
  top: -2.5rem;
  right: -3rem;
  width: 1.6rem;
}
.btn--ok :hover,
.btn--exit:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in;
  cursor: pointer;
}
